<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Agenda</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="home">Home</a>
          </li>
  
          <li class="nav-item" ngbDropdown>
            <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdownCadastro" role="button">
              Cadastros
            </a>
            <div ngbDropdownMenu aria-labelledby="navbarDropdownCadastro" class="dropdown-menu dropdown-menu-start">
              <a ngbDropdownItem (click)="$event.preventDefault()" routerLink="area">Área</a>
              <a ngbDropdownItem (click)="$event.preventDefault()" routerLink="professional">Profissional</a>
              <a ngbDropdownItem (click)="$event.preventDefault()" routerLink="appointment-type">Tipo de Atendimento</a>
              <hr class="dropdown-divider">
              <a ngbDropdownItem (click)="$event.preventDefault()" routerLink="client">Cliente</a>
              <hr class="dropdown-divider">
              <a ngbDropdownItem (click)="$event.preventDefault()" routerLink="user">Usuário</a>
            </div>
          </li>
          
          <li class="nav-item" ngbDropdown>
            <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdownAgendamento" role="button">
              Agendamento
            </a>
            <div ngbDropdownMenu aria-labelledby="navbarDropdownAgendamento" class="dropdown-menu dropdown-menu-start">
              <a class="dropdown-item" (click)="$event.preventDefault()" routerLink="today-appointments">Hoje</a>
              <a class="dropdown-item" (click)="$event.preventDefault()" routerLink="create-appointment">Agendar</a>
              <a class="dropdown-item" (click)="$event.preventDefault()" routerLink="cancel-appointment">Cancelar</a>
              <hr class="dropdown-divider">
              <a class="dropdown-item" (click)="$event.preventDefault()" routerLink="client-history">Histórico do Cliente</a>
              <hr class="dropdown-divider">
              <a class="dropdown-item" (click)="$event.preventDefault()" routerLink="professional-workdays">Agenda do Profissional</a>
            </div>
          </li>
  
        </ul>
        <div class="my-auto me-2">
          <span class="fw-bold me-2">{{getRealName()}}a</span>
          <span *ngIf="isAdmin()">(admin)</span>
        </div>
        <button class="btn btn-outline-secondary" type="submit" (click)="logout()">Sair</button>
      </div>
    </div>
  </nav>